<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Speak Multipager Template: DEMO OPTIONS</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="demo/assets/css/bootstrap.css" rel="stylesheet" />
   <style type="text/css">
       body {
           background-color:#000;
           color:#fff;
       }
       section {
           padding-top:100px;
           padding-bottom:30px;

       }
       .c-t {
           text-align:center;
       }
       a,a:hover,a:focus {
           color:#fff;
           cursor:pointer;
           text-decoration:none;
       }
   </style>
</head>
<body>



       <section >
            <div class="container">
           <div class="row c-t" >
            <div class="col-md-12 col-sm-12 col-xs-12 c-t">
                <h2>CHOOSE TEMPLATE VARIANT </h2>
            </div>

               </div>
             <div class="row c-t" >
            <div class="col-md-6 col-sm-6 col-xs-12 c-t">
                <a href="blue-version/index1.html" target="_blank" >
                <h3>Blue Color Template </h3>
                    </a>
                <br />
                <a href="blue-version/index1.html" target="_blank" >
                <img src="demo/assets/img/blue-version.png" class="img-responsive" alt="" />
                    </a>
            </div>
                <div class="col-md-6 col-sm-6 col-xs-12 c-t">
                    <a href="brown-version/index1.html" target="_blank" >
                <h3>Brown Color Template </h3>
                        </a>
                      <br />
                        <a href="brown-version/index1.html" target="_blank" >
                 <img src="demo/assets/img/brown-version.png" class="img-responsive" alt="" />
                            </a>
            </div>
               </div>
                </div>
       </section>

</body>
</html>
